body {
    font-family: 'Kanit', sans-serif;
  }


  .btn-success {
    background-color: #0084ff !important;
    border-color: #0084ff !important;
}

.btn-success:hover {
    background-color: #0069d9 !important;
    border-color: #0069d9 !important;
}

.btn-success:active, 
.btn-success:focus {
    background-color: #0056b3 !important;
    border-color: #0056b3 !important;
    box-shadow: 0 0 0 0.25rem rgba(0, 132, 255, 0.5) !important;
}

nav{
    background: linear-gradient(to right, #0084ff 0%, #0084ff 51%, #0084ff 100%)}